.add-fabric-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafb; 
  padding: 24px;
}

.add-fabric-wrapper {
  width: 100%;
  max-width: 72rem; 
}

.add-fabric-back-button {
  margin-bottom: 1rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f3f4f6; 
  }
}

.add-fabric-card {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}

.add-fabric-header {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid #f0f0f0;
}

.add-fabric-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-fabric-input {
  height: 2.5rem;
  font-size: 1rem;
  width: 100%
}

.add-fabric-submit-btn {
  height: 2.5rem;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 500;
}
